<h3>Сообщение с сайта <%= @url %>, от <%= @contact.title %></h3>
<p>
  Телефон: <%= @contact.phone %>
</p>
<p>
  E-mail: <%= @contact.address %>
</p>
<p>Сообщение: <%= @contact.description %></p>
<p>Время обращения <%= Time.now %></p>
